* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #b1cbe8;
}
.container {
  width: 80%;
  padding: 25px 50px;
  margin: 25px auto;
  border-radius: 10px;
  background-color: #f6f6f6;
}
.container h2 {
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: #131212df;
  cursor: default;
}
.container h2 .fa-book-open,
.container h2 span {
  color: #0088b4;
}
form input {
  width: 100%;
  padding: 13px;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 7px;
  border: 1px solid #dedede;
  outline: none;
  background-color: white;
}
.container button {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #0088b4;
  cursor: pointer;
  transition: 0.7s ease;
}
.container button:hover {
  background-color: #4aa444;
}
.container hr {
  height: 2px;
  background-color: #0088b4;
  margin: 25px 0;
}
.container h3 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #131212df;
}
.container table {
  width: 100%;
}
.container table th {
  padding: 10px;
  color: #fff;
  text-align: start;
  text-transform: capitalize;
  background-color: #0088b4;
  cursor: default;
}
.container table td {
  padding: 15px 10px;
  color: #131212df;
  background-color: #dedede;
  text-transform: capitalize;
}
.container .bookList .delete {
  margin-left: 15px;
  color: red;
  font-size: 20px;
  cursor: pointer;
  width: 20px;
}
.fa-trash-can {
  pointer-events: none;
}
.done {
  padding: 7px;
  margin: 10px 0;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  background-color: #4aa444;
}
.done.delete {
  background-color: #e12a2adf;
}
